/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR1: #63599E
COLOR2: #fab909
----------------------------------------- */
/*
 * background: theme-color
 * -----------------------------------------------
*/
.post .entry-meta.meta-absolute {
  background-color: rgba(13, 30, 66, 0.9) !important;
}
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.portfolio-filter a.active,
.portfolio-filter a:hover,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.line-bottom-double-line-centered::after,
.line-bottom-double-line-centered::before,
.product .tag-sale,
.post .post-thumb span,
.owl-theme .owl-dots .owl-dot.active span,
.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute,
.title-dots span {
  background: #0d1e42;
}
.cd-timeline-simple .cd-timeline-block .cd-timeline-img {
  background: #0d1e42 !important;
}
.ui-state-highlight {
  background: #0d1e42 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.donation-form .form-group label {
  color: #0d1e42;
}
.star-rating span::before {
  color: #0d1e42 !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-prev,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-next {
  border: 1px solid #0d1e42;
}
.owl-theme .owl-dots .owl-dot span {
  border-color: #0d1e42;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #0d1e42 transparent transparent;
}
.section-title.title-border {
  border-left: 4px solid #0d1e42;
}
/* border-top-color */
.cssload-tri {
  border-top: 27px solid #0d1e42;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #0d1e42;
}
.section-title.title-border.title-right {
  border-right: 4px solid #0d1e42;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #0d1e42;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #0d1e42;
}
/* box-shadow */
/* Dropdown Search Form */
.dropdown-search-form-content .dropdown-search-form .input-group {
  border-color: #0d1e42;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] {
  background: #0d1e42;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] i {
  color: #fff;
}
/* Modern Header */
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #0d1e42;
}
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #0d1e42;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored {
  color: #0d1e42 !important;
}
.text-hover-theme-colored:hover {
  color: #0d1e42 !important;
}
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i {
  color: #0d1e42;
}
/* -------- border-theme-color ---------- */
.border-theme-colored {
  border-color: #0d1e42 !important;
}
.border-1px-theme-colored {
  border: 1px solid #0d1e42;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #0d1e42;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #050b17;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #0d1e42;
  color: #0d1e42;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored {
  background-color: #0d1e42 !important;
}
.bg-hover-theme-colored:hover {
  background: #0d1e42 !important;
  border-color: #0d1e42 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i {
  background: #0d1e42;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored-lighter2 {
  background-color: #0f224b !important;
}
.bg-theme-colored-lighter3 {
  background-color: #10244f !important;
}
.bg-theme-colored-lighter4 {
  background-color: #102653 !important;
}
.bg-theme-colored-lighter5 {
  background-color: #112857 !important;
}
.bg-theme-colored-lighter6 {
  background-color: #122a5c !important;
}
.bg-theme-colored-lighter7 {
  background-color: #132c60 !important;
}
.bg-theme-colored-lighter8 {
  background-color: #142d64 !important;
}
.bg-theme-colored-lighter9 {
  background-color: #152f68 !important;
}
.bg-theme-colored-darker2 {
  background-color: #0b1a39 !important;
}
.bg-theme-colored-darker3 {
  background-color: #0a1835 !important;
}
.bg-theme-colored-darker4 {
  background-color: #0a1631 !important;
}
.bg-theme-colored-darker5 {
  background-color: #09142d !important;
}
.bg-theme-colored-darker6 {
  background-color: #081228 !important;
}
.bg-theme-colored-darker7 {
  background-color: #071024 !important;
}
.bg-theme-colored-darker8 {
  background-color: #060f20 !important;
}
.bg-theme-colored-darker9 {
  background-color: #050d1c !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored-transparent-9 {
  background-color: rgba(13, 30, 66, 0.9) !important;
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(13, 30, 66, 0.8) !important;
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(13, 30, 66, 0.7) !important;
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(13, 30, 66, 0.6) !important;
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(13, 30, 66, 0.5) !important;
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(13, 30, 66, 0.4) !important;
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(13, 30, 66, 0.3) !important;
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(13, 30, 66, 0.2) !important;
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(13, 30, 66, 0.1) !important;
}
.bg-theme-colored-transparent {
  background-color: rgba(13, 30, 66, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored */
}
.layer-overlay.overlay-theme-colored::before {
  background-color: rgba(13, 30, 66, 0.8);
}
.layer-overlay.overlay-theme-colored-1::before {
  background-color: rgba(13, 30, 66, 0.1);
}
.layer-overlay.overlay-theme-colored-2::before {
  background-color: rgba(13, 30, 66, 0.2);
}
.layer-overlay.overlay-theme-colored-3::before {
  background-color: rgba(13, 30, 66, 0.3);
}
.layer-overlay.overlay-theme-colored-4::before {
  background-color: rgba(13, 30, 66, 0.4);
}
.layer-overlay.overlay-theme-colored-5::before {
  background-color: rgba(13, 30, 66, 0.5);
}
.layer-overlay.overlay-theme-colored-6::before {
  background-color: rgba(13, 30, 66, 0.6);
}
.layer-overlay.overlay-theme-colored-7::before {
  background-color: rgba(13, 30, 66, 0.7);
}
.layer-overlay.overlay-theme-colored-8::before {
  background-color: rgba(13, 30, 66, 0.8);
}
.layer-overlay.overlay-theme-colored-9::before {
  background-color: rgba(13, 30, 66, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #0d1e42;
  background-color: #fff;
  border-color: #0d1e42;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #0d1e42;
  background-color: #e6e6e6;
  border-color: #000000;
}
.btn-default.btn-theme-colored:hover {
  color: #0d1e42;
  background-color: #e6e6e6;
  border-color: #03070f;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #0d1e42;
  background-color: #e6e6e6;
  border-color: #03070f;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #0d1e42;
  background-color: #d4d4d4;
  border-color: #000000;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #0d1e42;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #0d1e42;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #0d1e42;
  background-color: #fff;
  border-color: #0d1e42;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #0d1e42;
  background-color: #e6e6e6;
  border-color: #000000;
}
.btn-border.btn-theme-colored:hover {
  color: #0d1e42;
  background-color: #e6e6e6;
  border-color: #03070f;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #0d1e42;
  background-color: #e6e6e6;
  border-color: #03070f;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #0d1e42;
  background-color: #d4d4d4;
  border-color: #000000;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #0d1e42;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #0d1e42;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #050b17;
  border-color: #050b17;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #0d1e42;
  border-color: #0d1e42;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #050b17;
  border-color: #000000;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #050b17;
  border-color: #03070f;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #050b17;
  border-color: #03070f;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #0d1e42;
  border-color: #0d1e42;
}
.btn-dark.btn-theme-colored .badge {
  color: #0d1e42;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #0d1e42;
  background-color: #15316d;
  border-color: #15316d;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #0d1e42;
  background-color: #0d1e42;
  border-color: #000102;
}
.btn-gray.btn-theme-colored:hover {
  color: #0d1e42;
  background-color: #0d1e42;
  border-color: #0b1a39;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #0d1e42;
  background-color: #0d1e42;
  border-color: #0b1a39;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #0d1e42;
  background-color: #071024;
  border-color: #000102;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #15316d;
  border-color: #15316d;
}
.btn-gray.btn-theme-colored .badge {
  color: #15316d;
  background-color: #0d1e42;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #0d1e42;
  border-color: #0d1e42;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #050b17;
  border-color: #000000;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #050b17;
  border-color: #03070f;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #050b17;
  border-color: #03070f;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #0d1e42;
  border-color: #0d1e42;
}
.btn-theme-colored .badge {
  color: #0d1e42;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #0d1e42;
  border-color: #0d1e42;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #050b17;
  border-color: #050b17;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #0d1e42;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #0d1e42;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #15316d;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #050b17;
  color: #050b17;
}
.btn-hover-theme-colored:hover {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #0d1e42;
}
.icon-theme-colored.icon-bordered a {
  border-color: #0d1e42;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #0d1e42;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #0d1e42;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #050b17;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #0d1e42;
  color: #0d1e42;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #0d1e42;
}
.icon-theme-colored.icon-gray a:hover {
  color: #050b17;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #0d1e42;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #0d1e42;
}
.icon-hover-theme-colored a:hover {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #0d1e42;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #0d1e42;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #0d1e42;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #0d1e42;
  color: #0d1e42;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #0d1e42;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #0d1e42;
  border-color: #0d1e42;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #0d1e42;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored .panel-default > .panel-heading {
  background-color: #0d1e42;
}
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored .panel-heading .panel-title a.active:before {
  background: #0d1e42;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading {
  background: #0d1e42;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a:before {
  background: #0a1835;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a.active:before {
  background: #02050b;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading {
  background: #0d1e42;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a:before {
  background: #09142d;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a.active:before {
  background: #cd254c;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored .panel-heading .panel-title a:before {
  background-color: #0d1e42;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored .panel-heading .panel-title a:after {
  background-color: #0d1e42;
}
/* Modern Header */
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #cd254c;
}
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #cd254c;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored2 {
  color: #cd254c !important;
}
.text-hover-theme-colored2:hover {
  color: #cd254c !important;
}
ul.list.theme-colored2 li:before,
ul.list.theme-colored2.angle-double-right li:before,
ul.list.theme-colored2.angle-right li:before,
ul.list.theme-colored2.check-circle li:before,
ul.list.theme-colored2.check li:before,
.list-icon.theme-colored2 li i {
  color: #cd254c;
}
/* -------- border-theme-color ---------- */
.border-theme-colored2 {
  border-color: #cd254c !important;
}
.border-1px-theme-colored2 {
  border: 1px solid #cd254c;
}
/* border-left-color */
blockquote.theme-colored2 {
  border-left: 3px solid #cd254c;
}
blockquote.bg-theme-colored2 {
  border-left: 3px solid #cc0b3c;
  color: #fff;
}
blockquote.bg-theme-colored2 footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored2 {
  background-color: #eeeeee !important;
  border-left: 3px solid #cd254c;
  color: #cd254c;
}
blockquote.gray.bg-theme-colored2 footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored2 {
  background-color: #cd254c !important;
}
.bg-hover-theme-colored2:hover {
  background: #cd254c !important;
  border-color: #cd254c !important;
  color: #fff !important;
}
.bg-hover-theme-colored2:hover h1,
.bg-hover-theme-colored2:hover h2,
.bg-hover-theme-colored2:hover h3,
.bg-hover-theme-colored2:hover h4,
.bg-hover-theme-colored2:hover h5,
.bg-hover-theme-colored2:hover h6,
.bg-hover-theme-colored2:hover p,
.bg-hover-theme-colored2:hover a,
.bg-hover-theme-colored2:hover i {
  color: #fff !important;
}
.list-icon.theme-colored2.square li i,
.list-icon.theme-colored2.rounded li i {
  background: #cd254c;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored2-lighter2 {
  background-color: #f32256 !important;
}
.bg-theme-colored2-lighter3 {
  background-color: #f3265a !important;
}
.bg-theme-colored2-lighter4 {
  background-color: #f32b5e !important;
}
.bg-theme-colored2-lighter5 {
  background-color: #f33061 !important;
}
.bg-theme-colored2-lighter6 {
  background-color: #f43565 !important;
}
.bg-theme-colored2-lighter7 {
  background-color: #f43a69 !important;
}
.bg-theme-colored2-lighter8 {
  background-color: #f43f6c !important;
}
.bg-theme-colored2-lighter9 {
  background-color: #f44370 !important;
}
.bg-theme-colored2-darker2 {
  background-color: #f10e48 !important;
}
.bg-theme-colored2-darker3 {
  background-color: #ed0d46 !important;
}
.bg-theme-colored2-darker4 {
  background-color: #e90d44 !important;
}
.bg-theme-colored2-darker5 {
  background-color: #e40d43 !important;
}
.bg-theme-colored2-darker6 {
  background-color: #df0d42 !important;
}
.bg-theme-colored2-darker7 {
  background-color: #da0c40 !important;
}
.bg-theme-colored2-darker8 {
  background-color: #d50c3f !important;
}
.bg-theme-colored2-darker9 {
  background-color: #d00c3d !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored2-transparent-9 {
  background-color: rgba(242, 24, 79, 0.9) !important;
}
.bg-theme-colored2-transparent-8 {
  background-color: rgba(242, 24, 79, 0.8) !important;
}
.bg-theme-colored2-transparent-7 {
  background-color: rgba(242, 24, 79, 0.7) !important;
}
.bg-theme-colored2-transparent-6 {
  background-color: rgba(242, 24, 79, 0.6) !important;
}
.bg-theme-colored2-transparent-5 {
  background-color: rgba(242, 24, 79, 0.5) !important;
}
.bg-theme-colored2-transparent-4 {
  background-color: rgba(242, 24, 79, 0.4) !important;
}
.bg-theme-colored2-transparent-3 {
  background-color: rgba(242, 24, 79, 0.3) !important;
}
.bg-theme-colored2-transparent-2 {
  background-color: rgba(242, 24, 79, 0.2) !important;
}
.bg-theme-colored2-transparent-1 {
  background-color: rgba(242, 24, 79, 0.1) !important;
}
.bg-theme-colored2-transparent {
  background-color: rgba(242, 24, 79, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored2 */
}
.layer-overlay.overlay-theme-colored2::before {
  background-color: rgba(242, 24, 79, 0.8) !important;
}
.layer-overlay.overlay-theme-colored2-1::before {
  background-color: rgba(242, 24, 79, 0.1);
}
.layer-overlay.overlay-theme-colored2-2::before {
  background-color: rgba(242, 24, 79, 0.2);
}
.layer-overlay.overlay-theme-colored2-3::before {
  background-color: rgba(242, 24, 79, 0.3);
}
.layer-overlay.overlay-theme-colored2-4::before {
  background-color: rgba(242, 24, 79, 0.4);
}
.layer-overlay.overlay-theme-colored2-5::before {
  background-color: rgba(242, 24, 79, 0.5);
}
.layer-overlay.overlay-theme-colored2-6::before {
  background-color: rgba(242, 24, 79, 0.6);
}
.layer-overlay.overlay-theme-colored2-7::before {
  background-color: rgba(242, 24, 79, 0.7);
}
.layer-overlay.overlay-theme-colored2-8::before {
  background-color: rgba(242, 24, 79, 0.8);
}
.layer-overlay.overlay-theme-colored2-9::before {
  background-color: rgba(242, 24, 79, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored2 {
  color: #cd254c;
  background-color: #fff;
  border-color: #cd254c;
}
.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.focus {
  color: #cd254c;
  background-color: #e6e6e6;
  border-color: #830727;
}
.btn-default.btn-theme-colored2:hover {
  color: #cd254c;
  background-color: #e6e6e6;
  border-color: #c20b39;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  color: #cd254c;
  background-color: #e6e6e6;
  border-color: #c20b39;
}
.btn-default.btn-theme-colored2:active:hover,
.btn-default.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active:focus,
.btn-default.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2:active.focus,
.btn-default.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2.focus {
  color: #cd254c;
  background-color: #d4d4d4;
  border-color: #830727;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  background-image: none;
}
.btn-default.btn-theme-colored2.disabled:hover,
.btn-default.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2.disabled:focus,
.btn-default.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.disabled.focus,
.btn-default.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #cd254c;
}
.btn-default.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #cd254c;
}
.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2:focus {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored2 {
  color: #cd254c;
  background-color: #fff;
  border-color: #cd254c;
}
.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.focus {
  color: #cd254c;
  background-color: #e6e6e6;
  border-color: #830727;
}
.btn-border.btn-theme-colored2:hover {
  color: #cd254c;
  background-color: #e6e6e6;
  border-color: #c20b39;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  color: #cd254c;
  background-color: #e6e6e6;
  border-color: #c20b39;
}
.btn-border.btn-theme-colored2:active:hover,
.btn-border.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active:focus,
.btn-border.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2:active.focus,
.btn-border.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2.focus {
  color: #cd254c;
  background-color: #d4d4d4;
  border-color: #830727;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  background-image: none;
}
.btn-border.btn-theme-colored2.disabled:hover,
.btn-border.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2.disabled:focus,
.btn-border.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.disabled.focus,
.btn-border.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #cd254c;
}
.btn-border.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #cd254c;
}
.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2:focus {
  background-color: #cc0b3c;
  border-color: #cc0b3c;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #cd254c;
  border-color: #cd254c;
}
.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #cc0b3c;
  border-color: #830727;
}
.btn-dark.btn-theme-colored2:hover {
  color: #fff;
  background-color: #cc0b3c;
  border-color: #c20b39;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #cc0b3c;
  border-color: #c20b39;
}
.btn-dark.btn-theme-colored2:active:hover,
.btn-dark.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2:active:focus,
.btn-dark.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2:active.focus,
.btn-dark.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #aa0a32;
  border-color: #830727;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  background-image: none;
}
.btn-dark.btn-theme-colored2.disabled:hover,
.btn-dark.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2.disabled:focus,
.btn-dark.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.disabled.focus,
.btn-dark.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored2.focus {
  background-color: #cd254c;
  border-color: #cd254c;
}
.btn-dark.btn-theme-colored2 .badge {
  color: #cd254c;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored2 {
  color: #cd254c;
  background-color: #f54874;
  border-color: #f54874;
}
.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.focus {
  color: #cd254c;
  background-color: #cd254c;
  border-color: #b30a35;
}
.btn-gray.btn-theme-colored2:hover {
  color: #cd254c;
  background-color: #cd254c;
  border-color: #f10e48;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  color: #cd254c;
  background-color: #cd254c;
  border-color: #f10e48;
}
.btn-gray.btn-theme-colored2:active:hover,
.btn-gray.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2:active:focus,
.btn-gray.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2:active.focus,
.btn-gray.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2.focus {
  color: #cd254c;
  background-color: #da0c40;
  border-color: #b30a35;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  background-image: none;
}
.btn-gray.btn-theme-colored2.disabled:hover,
.btn-gray.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2.disabled:focus,
.btn-gray.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.disabled.focus,
.btn-gray.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored2.focus {
  background-color: #f54874;
  border-color: #f54874;
}
.btn-gray.btn-theme-colored2 .badge {
  color: #f54874;
  background-color: #cd254c;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored2 {
  color: #fff;
  background-color: #cd254c;
  border-color: #cd254c;
}
.btn-theme-colored2:focus,
.btn-theme-colored2.focus {
  color: #fff;
  background-color: #cc0b3c;
  border-color: #830727;
}
.btn-theme-colored2:hover {
  color: #fff;
  background-color: #cc0b3c;
  border-color: #c20b39;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  color: #fff;
  background-color: #cc0b3c;
  border-color: #c20b39;
}
.btn-theme-colored2:active:hover,
.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-theme-colored2:hover,
.btn-theme-colored2:active:focus,
.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-theme-colored2:focus,
.btn-theme-colored2:active.focus,
.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-theme-colored2.focus {
  color: #fff;
  background-color: #aa0a32;
  border-color: #830727;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  background-image: none;
}
.btn-theme-colored2.disabled:hover,
.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-theme-colored2:hover,
.btn-theme-colored2.disabled:focus,
.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-theme-colored2:focus,
.btn-theme-colored2.disabled.focus,
.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-theme-colored2.focus {
  background-color: #cd254c;
  border-color: #cd254c;
}
.btn-theme-colored2 .badge {
  color: #cd254c;
  background-color: #fff;
}
.btn-hover-theme-colored2:hover {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored2 a {
  color: #cd254c;
}
.icon-theme-colored2.icon-bordered a {
  border-color: #cd254c;
}
.icon-theme-colored2.icon-bordered a:hover {
  background-color: #cd254c;
  color: #fff;
}
.icon-theme-colored2.icon-dark a {
  background-color: #cd254c;
  color: #fff;
}
.icon-theme-colored2.icon-dark a:hover {
  background-color: #cc0b3c;
}
.icon-theme-colored2.icon-dark.icon-bordered a {
  border-color: #cd254c;
  color: #cd254c;
}
.icon-theme-colored2.icon-dark.icon-bordered a:hover {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
.icon-theme-colored2.icon-gray a {
  color: #cd254c;
}
.icon-theme-colored2.icon-gray a:hover {
  color: #cc0b3c;
}
.icon-theme-colored2.icon-gray.icon-bordered a {
  color: #cd254c;
}
.icon-theme-colored2.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #cd254c;
}
.icon-hover-theme-colored2 a:hover {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored2 a:hover {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored2 .icon {
  color: #cd254c;
}
.icon-box.iconbox-theme-colored2 .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #cd254c;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered {
  border-color: #cd254c;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered:hover {
  background-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray:hover {
  background-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered:hover {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark {
  background-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #cd254c;
  color: #cd254c;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered:hover {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white {
  background-color: #fff;
  color: #cd254c;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white:hover {
  background-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered:hover {
  background-color: #cd254c;
  border-color: #cd254c;
  color: #fff;
}
.icon-box.iconbox-theme-colored2.iconbox-border {
  border-color: #cd254c;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored2 .panel-default > .panel-heading {
  background-color: #cd254c;
}
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2 .panel-heading .panel-title a.active:before {
  background: #cd254c;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading {
  background: #cd254c;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a:before {
  background: #ed0d46;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a.active:before {
  background: #bd0b38;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading {
  background: #cd254c;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a:before {
  background: #e40d43;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a.active:before {
  background: #0d1e42;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:before {
  background-color: #cd254c;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:after {
  background-color: #cd254c;
}
/*
 *  common.less
 * -----------------------------------------------
*/
.services-list li.active a {
  background-color: #cd254c;
}
.services-list ul li a:hover {
  background-color: #cd254c;
  color: #fff;
}
.services-list li.active a {
  border: 1px solid #cd254c;
}
/*
 * custom-theme-color-set.less
 * -----------------------------------------------
*/
/*
 * custom-theme-color1.less
 * -----------------------------------------------
*/
/*
 * custom-theme-color2.less
 * -----------------------------------------------
*/
.services-tab .nav-tabs > li > a i {
  color: #cd254c;
}
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.services-tab .nav-tabs > li.active > a,
.services-tab .nav-tabs > li.active > a:hover,
.services-tab .nav-tabs > li.active > a:focus,
.services-tab .nav-tabs > li a:hover,
.services-tab .nav-tabs > li a:focus {
  background-color: #cd254c;
}
/*
 * home-info-box.less
 * -----------------------------------------------
*/
.home-info-box {
  background-color: #0d1e42;
}
.home-info-box:hover {
  background-color: #cd254c;
}
/*
 * service-icon-box.less
 * -----------------------------------------------
*/
.service-icon-box .icon {
  background: #cd254c;
}
.service-icon-box:hover .icon {
  background: #0d1e42;
}
/*
 * pricing-table.less
 * -----------------------------------------------
*/
.pricing-table .pricing-icon {
  background: #cd254c;
}
.pricing-table:hover {
  border-color: #0d1e42;
}
.pricing-table:hover .pricing-icon {
  background: #cd254c;
}
/*
 * team-members.less
 * -----------------------------------------------
*/
.team-members .team-details {
  background-color: #0d1e42;
}
.team-members .team-details:hover {
  background-color: #cd254c;
}
/*
 *  Gradients BG+BGTransparent Color
 * -----------------------------------------------
*/
/* Gradient BG Colors */
.bg-theme-colored-gradient {
  background-color: #050b17;
  background: -webkit-gradient(linear, left top, left bottom, from(#050b17), to(#1e4597));
  background: -webkit-linear-gradient(top, #050b17, #1e4597);
  background: -moz-linear-gradient(top, #050b17, #1e4597);
  background: -ms-linear-gradient(top, #050b17, #1e4597);
  background: -o-linear-gradient(top, #050b17, #1e4597);
}
.bg-theme-colored-gradient-horizontal {
  background: #050b17;
  background: -webkit-gradient(linear, left top, right top, from(#050b17), to(#1e4597));
  background: -webkit-linear-gradient(left, #050b17, #1e4597);
  background: -moz-linear-gradient(left, #050b17, #1e4597);
  background: -ms-linear-gradient(left, #050b17, #1e4597);
  background: -o-linear-gradient(left, #050b17, #1e4597);
}
.bg-theme-colored2-gradient {
  background-color: #cc0b3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc0b3c), to(#f77999));
  background: -webkit-linear-gradient(top, #cc0b3c, #f77999);
  background: -moz-linear-gradient(top, #cc0b3c, #f77999);
  background: -ms-linear-gradient(top, #cc0b3c, #f77999);
  background: -o-linear-gradient(top, #cc0b3c, #f77999);
}
.bg-theme-colored2-gradient-horizontal {
  background: #cc0b3c;
  background: -webkit-gradient(linear, left top, right top, from(#cc0b3c), to(#f77999));
  background: -webkit-linear-gradient(left, #cc0b3c, #f77999);
  background: -moz-linear-gradient(left, #cc0b3c, #f77999);
  background: -ms-linear-gradient(left, #cc0b3c, #f77999);
  background: -o-linear-gradient(left, #cc0b3c, #f77999);
}
.bg-theme-colored12-gradient {
  background-color: #0d1e42;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d1e42), to(#cd254c));
  background: -webkit-linear-gradient(top, #0d1e42, #cd254c);
  background: -moz-linear-gradient(top, #0d1e42, #cd254c);
  background: -ms-linear-gradient(top, #0d1e42, #cd254c);
  background: -o-linear-gradient(top, #0d1e42, #cd254c);
}
.bg-theme-colored12-gradient-horizontal {
  background: #0d1e42;
  background: -webkit-gradient(linear, left top, right top, from(#0d1e42), to(#cd254c));
  background: -webkit-linear-gradient(left, #0d1e42, #cd254c);
  background: -moz-linear-gradient(left, #0d1e42, #cd254c);
  background: -ms-linear-gradient(left, #0d1e42, #cd254c);
  background: -o-linear-gradient(left, #0d1e42, #cd254c);
}
.bg-theme-colored21-gradient {
  background-color: #cd254c;
  background: -webkit-gradient(linear, left top, left bottom, from(#cd254c), to(#0d1e42));
  background: -webkit-linear-gradient(top, #cd254c, #0d1e42);
  background: -moz-linear-gradient(top, #cd254c, #0d1e42);
  background: -ms-linear-gradient(top, #cd254c, #0d1e42);
  background: -o-linear-gradient(top, #cd254c, #0d1e42);
}
.bg-theme-colored21-gradient-horizontal {
  background: #cd254c;
  background: -webkit-gradient(linear, left top, right top, from(#cd254c), to(#0d1e42));
  background: -webkit-linear-gradient(left, #cd254c, #0d1e42);
  background: -moz-linear-gradient(left, #cd254c, #0d1e42);
  background: -ms-linear-gradient(left, #cd254c, #0d1e42);
  background: -o-linear-gradient(left, #cd254c, #0d1e42);
}
/* -------- layer overlay gradient Color1 ---------- */
.layer-overlay.overlay-theme-colored-gradient::before {
  background: rgba(13, 30, 66, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.9)), to(rgba(30, 69, 151, 0.9)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
}
.layer-overlay.overlay-theme-colored-gradient-1::before {
  background: rgba(13, 30, 66, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.1)), to(rgba(30, 69, 151, 0.1)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(30, 69, 151, 0.1));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(30, 69, 151, 0.1));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(30, 69, 151, 0.1));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(30, 69, 151, 0.1));
}
.layer-overlay.overlay-theme-colored-gradient-2::before {
  background: rgba(13, 30, 66, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.2)), to(rgba(30, 69, 151, 0.2)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(30, 69, 151, 0.2));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(30, 69, 151, 0.2));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(30, 69, 151, 0.2));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(30, 69, 151, 0.2));
}
.layer-overlay.overlay-theme-colored-gradient-3::before {
  background: rgba(13, 30, 66, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.3)), to(rgba(30, 69, 151, 0.3)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(30, 69, 151, 0.3));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(30, 69, 151, 0.3));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(30, 69, 151, 0.3));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(30, 69, 151, 0.3));
}
.layer-overlay.overlay-theme-colored-gradient-4::before {
  background: rgba(13, 30, 66, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.4)), to(rgba(30, 69, 151, 0.4)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(30, 69, 151, 0.4));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(30, 69, 151, 0.4));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(30, 69, 151, 0.4));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(30, 69, 151, 0.4));
}
.layer-overlay.overlay-theme-colored-gradient-5::before {
  background: rgba(13, 30, 66, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.5)), to(rgba(30, 69, 151, 0.5)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(30, 69, 151, 0.5));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(30, 69, 151, 0.5));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(30, 69, 151, 0.5));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(30, 69, 151, 0.5));
}
.layer-overlay.overlay-theme-colored-gradient-6::before {
  background: rgba(13, 30, 66, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.6)), to(rgba(30, 69, 151, 0.6)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(30, 69, 151, 0.6));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(30, 69, 151, 0.6));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(30, 69, 151, 0.6));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(30, 69, 151, 0.6));
}
.layer-overlay.overlay-theme-colored-gradient-7::before {
  background: rgba(13, 30, 66, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.7)), to(rgba(30, 69, 151, 0.7)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(30, 69, 151, 0.7));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(30, 69, 151, 0.7));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(30, 69, 151, 0.7));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(30, 69, 151, 0.7));
}
.layer-overlay.overlay-theme-colored-gradient-8::before {
  background: rgba(13, 30, 66, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.8)), to(rgba(30, 69, 151, 0.8)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(30, 69, 151, 0.8));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(30, 69, 151, 0.8));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(30, 69, 151, 0.8));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(30, 69, 151, 0.8));
}
.layer-overlay.overlay-theme-colored-gradient-9::before {
  background: rgba(13, 30, 66, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.9)), to(rgba(30, 69, 151, 0.9)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(30, 69, 151, 0.9));
}
/* -------- layer overlay gradient Color2 ---------- */
.layer-overlay.overlay-theme-colored2-gradient::before {
  background: rgba(242, 24, 79, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.9)), to(rgba(247, 121, 153, 0.9)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
}
.layer-overlay.overlay-theme-colored2-gradient-1::before {
  background: rgba(242, 24, 79, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.1)), to(rgba(247, 121, 153, 0.1)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(247, 121, 153, 0.1));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(247, 121, 153, 0.1));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(247, 121, 153, 0.1));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(247, 121, 153, 0.1));
}
.layer-overlay.overlay-theme-colored2-gradient-2::before {
  background: rgba(242, 24, 79, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.2)), to(rgba(247, 121, 153, 0.2)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(247, 121, 153, 0.2));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(247, 121, 153, 0.2));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(247, 121, 153, 0.2));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(247, 121, 153, 0.2));
}
.layer-overlay.overlay-theme-colored2-gradient-3::before {
  background: rgba(242, 24, 79, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.3)), to(rgba(247, 121, 153, 0.3)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(247, 121, 153, 0.3));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(247, 121, 153, 0.3));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(247, 121, 153, 0.3));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(247, 121, 153, 0.3));
}
.layer-overlay.overlay-theme-colored2-gradient-4::before {
  background: rgba(242, 24, 79, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.4)), to(rgba(247, 121, 153, 0.4)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(247, 121, 153, 0.4));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(247, 121, 153, 0.4));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(247, 121, 153, 0.4));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(247, 121, 153, 0.4));
}
.layer-overlay.overlay-theme-colored2-gradient-5::before {
  background: rgba(242, 24, 79, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.5)), to(rgba(247, 121, 153, 0.5)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(247, 121, 153, 0.5));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(247, 121, 153, 0.5));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(247, 121, 153, 0.5));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(247, 121, 153, 0.5));
}
.layer-overlay.overlay-theme-colored2-gradient-6::before {
  background: rgba(242, 24, 79, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.6)), to(rgba(247, 121, 153, 0.6)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(247, 121, 153, 0.6));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(247, 121, 153, 0.6));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(247, 121, 153, 0.6));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(247, 121, 153, 0.6));
}
.layer-overlay.overlay-theme-colored2-gradient-7::before {
  background: rgba(242, 24, 79, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.7)), to(rgba(247, 121, 153, 0.7)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(247, 121, 153, 0.7));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(247, 121, 153, 0.7));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(247, 121, 153, 0.7));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(247, 121, 153, 0.7));
}
.layer-overlay.overlay-theme-colored2-gradient-8::before {
  background: rgba(242, 24, 79, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.8)), to(rgba(247, 121, 153, 0.8)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(247, 121, 153, 0.8));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(247, 121, 153, 0.8));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(247, 121, 153, 0.8));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(247, 121, 153, 0.8));
}
.layer-overlay.overlay-theme-colored2-gradient-9::before {
  background: rgba(242, 24, 79, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.9)), to(rgba(247, 121, 153, 0.9)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(247, 121, 153, 0.9));
}
/* -------- layer overlay gradient Color Combined 12 ---------- */
.layer-overlay.overlay-theme-colored12-gradient::before {
  background: rgba(13, 30, 66, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.9)), to(rgba(242, 24, 79, 0.9)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
}
.layer-overlay.overlay-theme-colored12-gradient-1::before {
  background: rgba(13, 30, 66, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.1)), to(rgba(242, 24, 79, 0.1)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(242, 24, 79, 0.1));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(242, 24, 79, 0.1));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(242, 24, 79, 0.1));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.1), rgba(242, 24, 79, 0.1));
}
.layer-overlay.overlay-theme-colored12-gradient-2::before {
  background: rgba(13, 30, 66, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.2)), to(rgba(242, 24, 79, 0.2)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(242, 24, 79, 0.2));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(242, 24, 79, 0.2));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(242, 24, 79, 0.2));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.2), rgba(242, 24, 79, 0.2));
}
.layer-overlay.overlay-theme-colored12-gradient-3::before {
  background: rgba(13, 30, 66, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.3)), to(rgba(242, 24, 79, 0.3)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(242, 24, 79, 0.3));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(242, 24, 79, 0.3));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(242, 24, 79, 0.3));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.3), rgba(242, 24, 79, 0.3));
}
.layer-overlay.overlay-theme-colored12-gradient-4::before {
  background: rgba(13, 30, 66, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.4)), to(rgba(242, 24, 79, 0.4)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(242, 24, 79, 0.4));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(242, 24, 79, 0.4));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(242, 24, 79, 0.4));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.4), rgba(242, 24, 79, 0.4));
}
.layer-overlay.overlay-theme-colored12-gradient-5::before {
  background: rgba(13, 30, 66, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.5)), to(rgba(242, 24, 79, 0.5)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(242, 24, 79, 0.5));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(242, 24, 79, 0.5));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(242, 24, 79, 0.5));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.5), rgba(242, 24, 79, 0.5));
}
.layer-overlay.overlay-theme-colored12-gradient-6::before {
  background: rgba(13, 30, 66, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.6)), to(rgba(242, 24, 79, 0.6)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(242, 24, 79, 0.6));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(242, 24, 79, 0.6));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(242, 24, 79, 0.6));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.6), rgba(242, 24, 79, 0.6));
}
.layer-overlay.overlay-theme-colored12-gradient-7::before {
  background: rgba(13, 30, 66, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.7)), to(rgba(242, 24, 79, 0.7)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(242, 24, 79, 0.7));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(242, 24, 79, 0.7));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(242, 24, 79, 0.7));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.7), rgba(242, 24, 79, 0.7));
}
.layer-overlay.overlay-theme-colored12-gradient-8::before {
  background: rgba(13, 30, 66, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.8)), to(rgba(242, 24, 79, 0.8)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(242, 24, 79, 0.8));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(242, 24, 79, 0.8));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(242, 24, 79, 0.8));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.8), rgba(242, 24, 79, 0.8));
}
.layer-overlay.overlay-theme-colored12-gradient-9::before {
  background: rgba(13, 30, 66, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 30, 66, 0.9)), to(rgba(242, 24, 79, 0.9)));
  background: -webkit-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
  background: -moz-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
  background: -ms-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
  background: -o-linear-gradient(left, rgba(13, 30, 66, 0.9), rgba(242, 24, 79, 0.9));
}
/* -------- layer overlay gradient Color Combined 21 ---------- */
.layer-overlay.overlay-theme-colored21-gradient::before {
  background: rgba(242, 24, 79, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.9)), to(rgba(13, 30, 66, 0.9)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
}
.layer-overlay.overlay-theme-colored21-gradient-1::before {
  background: rgba(242, 24, 79, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.1)), to(rgba(13, 30, 66, 0.1)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(13, 30, 66, 0.1));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(13, 30, 66, 0.1));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(13, 30, 66, 0.1));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.1), rgba(13, 30, 66, 0.1));
}
.layer-overlay.overlay-theme-colored21-gradient-2::before {
  background: rgba(242, 24, 79, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.2)), to(rgba(13, 30, 66, 0.2)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(13, 30, 66, 0.2));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(13, 30, 66, 0.2));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(13, 30, 66, 0.2));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.2), rgba(13, 30, 66, 0.2));
}
.layer-overlay.overlay-theme-colored21-gradient-3::before {
  background: rgba(242, 24, 79, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.3)), to(rgba(13, 30, 66, 0.3)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(13, 30, 66, 0.3));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(13, 30, 66, 0.3));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(13, 30, 66, 0.3));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.3), rgba(13, 30, 66, 0.3));
}
.layer-overlay.overlay-theme-colored21-gradient-4::before {
  background: rgba(242, 24, 79, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.4)), to(rgba(13, 30, 66, 0.4)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(13, 30, 66, 0.4));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(13, 30, 66, 0.4));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(13, 30, 66, 0.4));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.4), rgba(13, 30, 66, 0.4));
}
.layer-overlay.overlay-theme-colored21-gradient-5::before {
  background: rgba(242, 24, 79, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.5)), to(rgba(13, 30, 66, 0.5)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(13, 30, 66, 0.5));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(13, 30, 66, 0.5));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(13, 30, 66, 0.5));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.5), rgba(13, 30, 66, 0.5));
}
.layer-overlay.overlay-theme-colored21-gradient-6::before {
  background: rgba(242, 24, 79, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.6)), to(rgba(13, 30, 66, 0.6)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(13, 30, 66, 0.6));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(13, 30, 66, 0.6));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(13, 30, 66, 0.6));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.6), rgba(13, 30, 66, 0.6));
}
.layer-overlay.overlay-theme-colored21-gradient-7::before {
  background: rgba(242, 24, 79, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.7)), to(rgba(13, 30, 66, 0.7)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(13, 30, 66, 0.7));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(13, 30, 66, 0.7));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(13, 30, 66, 0.7));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.7), rgba(13, 30, 66, 0.7));
}
.layer-overlay.overlay-theme-colored21-gradient-8::before {
  background: rgba(242, 24, 79, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.8)), to(rgba(13, 30, 66, 0.8)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(13, 30, 66, 0.8));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(13, 30, 66, 0.8));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(13, 30, 66, 0.8));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.8), rgba(13, 30, 66, 0.8));
}
.layer-overlay.overlay-theme-colored21-gradient-9::before {
  background: rgba(242, 24, 79, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 24, 79, 0.9)), to(rgba(13, 30, 66, 0.9)));
  background: -webkit-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
  background: -moz-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
  background: -ms-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
  background: -o-linear-gradient(left, rgba(242, 24, 79, 0.9), rgba(13, 30, 66, 0.9));
}
