/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
 
 
/*==========  Mobile First Method  ==========*/
 
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


/*==========  Non-Mobile First Method  ==========*/
 
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.menuzord-menu > li > a{
		font-size: 13px;
		padding: 7px 12px;
	}
	.off_addr{width: 120px;}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1000px) {
	#menuzord .pull-right{float: left !important;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	ul.subMenu{
		display: none;
		position: relative;
		opacity: 1;
		visibility: visible;
	}
	.menuzord-menu li span{display: block;}
	.contact-info-list{
		display: block;
	}
	.contact-info-list .col-md-4{border-right: none;}
	.office, .off_addr{
		float: none;
		width: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.font-42 {
	    font-size: 30px !important;
	}
	.font-32 {
	    font-size: 26px !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {
}